nav{
    background: #182B49;
    height: 100px;
}

li a{
    background: #182B49 !important;
    color: #FFCD00 !important;
}

li a.active {
    background-color: #04AA6D;
    color: white;
  }

li a:hover:not(.active) {
    background-color: #00629B !important;
    color: white !important;
}


header{
    background: #C69214;
}

footer{
    padding-top: 20px;
    background: #00629B;
    color: #FFFFFF;
    font-size: 12px;
}

footer span a{
    font-size: 30px;
    color: #FFFFFF;
}

footer span a:hover{
    color:#C69214;
}

.icon{
    display: flex;
    justify-content: space-between;
    padding-left: 35%;
    padding-right: 35%
}

.nobull{
    list-style: none;
}

footer ul li a{
    background: #00629B !important;
    color: #FFFFFF !important;
    text-decoration: none;
}

footer ul li a.active{
    font-weight: bolder;
    font-size: 14px;
}

footer ul li a:hover:not(.active) {
    color: #C69214 !important;

}


footer p{
    text-align: center;
    font-size: 10px;
}

.nomarg{
    margin: 0px;
}

.nopad{
    padding: 0px;
}

.dkbl{
    background-color: #182B49 !important;
}

.gold{
    border-color: #FFCD00 !important;
    color: #FFCD00 !important;
}