nav{
    background: #182B49;
    height: 75px;
}

li a{
    background: #182B49 !important;
    color: #FFCD00 !important;
}

li a.active {
    background-color: #04AA6D;
    color: white;
  }

li a:hover:not(.active) {
    background-color: #00629B !important;
    color: white !important;
}


header{
    background: #C69214;
    font-size: 8px;
    color:#182B49;
    padding: 5px;
    display: flex;
    justify-content:space-evenly;
}


.right{
    text-align: right;
}

.left{
    text-align: left;
}

footer{
    padding-top: 15px !important;
    background: #00629B;
    color: #FFFFFF;
    font-size: 14px;
}

footer span a{
    font-size: 40px;
    color: #FFFFFF;
}

footer span a:hover{
    color:#C69214;
}

.icon{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.nobull{
    list-style: none;
}

footer ul li a{
    background: #00629B !important;
    color: #FFFFFF !important;
    text-decoration: none;
}

footer ul li a.active{
    font-weight: bolder;
    font-size: 16px;
}

footer ul li a:hover:not(.active) {
    color: #C69214 !important;

}


footer p{
    text-align: center;
    font-size: 12px;
    /*background:#FFCD00;*/
    color: #182B49;
}

.nomarg{
    margin: 0px;
}

.nopad{
    padding: 0px;
}

.dkbl{
    background-color: #182B49 !important;
}

.gold{
    border-color: #FFCD00 !important;
    color: #FFCD00 !important;
}